# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Coldfierz\Desktop\Classroom java Developer Webtreeschool\Repositori-esercizi-Github\JavaBackEnd-Esercizi\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
